.profile__container {
    min-height: 100vh;
    background-color: rgba(184, 204, 200, 0.76);
    margin: 0;
}

.profile__section {
    margin: 0 auto;
    width: 70%;
}

.profile__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-top: 3rem;
    color: #22A39F;
    font-weight: 300;
    font-size: 3rem;
}

.break {
    height: 1px;
    width: 100%;
    background-color: white;
    /* background: linear-gradient(0.25turn, #3d87a6, #ebf8e1, #f69d3c); */
    background: linear-gradient(0.25turn, black, white, black);
}

.profile__head p {
    font-weight: 300;
    font-size: 1.3rem;
}

.profile__content {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}

.heading2 {
    font-size: 2rem;
    font-weight: 300;
    color: #22A39F;
}

.profile__left {
    width: 40%;
}

.profile__left p {
    line-height: 1.64;
    font-size: 1rem
}

.profile__right {
    width: 30%;
}

.heading3 {
    font-size: 1rem;
}

.profile__right {
    font-size: 1rem;
    margin-top: -4px;
}